[submodule "pc-part-dataset"]
	path = pc-part-dataset
	url = https://github.com/docyx/pc-part-dataset.git
[submodule "web-service/app/db"]
	path = web-service/app/db
	url = https://github.com/docyx/pc-part-dataset.git
[submodule "web-service/app/pc-part-dataset"]
	path = web-service/app/pc-part-dataset
	url = https://github.com/docyx/pc-part-dataset.git
[submodule "db"]
	path = web-service/app/pc-part-dataset
	url = https://github.com/docyx/pc-part-dataset.git
